body {
    margin: 0 auto;
    padding: 0;

    font-family: 'PT Sans', Arial, sans-serif;
    font-size: 14px;
    line-height: 26px;
    font-weight: 400;
    color: #000000;
    text-transform: uppercase;

    background-color: #ffffff;
}

a {
    text-decoration: none;
}

/* Скрытые заголовки */

.visually-hidden {
    position: absolute;
    clip: rect(0 0 0 0);
    width: 1px;
    height: 1px;
    margin: -1px;
}


/* Навигация */

.main-navigation {
    font-weight: 700;
    line-height: 26px;
}

.site-navigation {
    list-style: none;
}

.site-navigation a {
    color: #000000
}

.site-navigation a:hover,
.site-navigation a:focus {
    color: #81b3d2;
}

.site-navigation a:active {
    opacity: 0.3;
    color: #000000;
}

/* Картинка-приветствие */


.logo-background {
    box-sizing: content-box;
    position: relative;
    width: 1200px;
    height: 510px;
    background-image: url("../img/background_photo.jpg");
    background-repeat: no-repeat;
    margin: 0 auto;
    overflow: hidden;
}

.logo-background img {
    margin: 0 auto;
    margin-top: 75px;
    display: block;
}

.logo-background::after {
    content: "";
    position: absolute;
    width: 1200px;
    height: 59px;
    background-image: url("../img/polygon.png");
    background-repeat: no-repeat;
    margin-top: 96px;
    bottom: -2px;
    display: block;
}


/* Списки с преимуществами и рекомендациями */

.title {
    font-size: 21px;
    font-weight: 700;
}

.advantages,
.reccomendations {
    text-align: center;
}

.advantages li,
.reccomendations li {
    list-style: none;
}

.blue-background {
    background-color: #81b3d2;
    color: #ffffff;
} 

.grey-background {
    background-color: #eeeeee;
}

.recommendations-title {
    position: relative;
    width: 100px;
    height: 115px;
    line-height: 115px;
    margin: 0 auto;    
    margin-top: 60px;
    padding-bottom: 30px;
    display: block;
}

.recommendations-title:before {
    content: "";
    background-repeat: no-repeat;
    margin: 0 auto;
    display: block;
}
  
  .recommendations-title--house::before {
    width: 75px;
    height: 72px;
    background-image: url("../img/icon-1.png"); 
  }

  .recommendations-title--food::before {
    width: 74px;
    height: 70px;
    background-image: url("../img/icon-2.png");
  }

  .recommendations-title--souvenirs::before {
    width: 64px;
    height: 76px;
    background-image: url("../img/icon-3.png");
  }

/* Форма поиска гостиниц */

.modal {

}

.modal a {
    font-size: 21px;
    font-weight: 700;
    line-height: 26px;
}

.modal-subtitle {
    font-size: 30px;
}

.modal-form {
    font-weight: 700;
}

.modal-item {
    background-color: #f2f2f2;
}

input[type="date"] {
    width: 346px;
    height: 38px;
}

input[type="number"] {
    width: 38px;
    height: 38px;
}

.modal-button {
    width: 38px;
    height: 38px;
    background-color: #f2f2f2;
}

.modal-button--minus {
    background-image: url("../img/minus.svg");
    background-repeat: no-repeat;
    background-position: center;
}

.modal-button--plus {
    background-image: url("../img/plus.svg");
    background-repeat: no-repeat;
    background-position: center;
}

/* Кнопки */

.brown-button {
    color: #ffffff;
    background-color: #766357;
    text-transform: uppercase;
    font-weight: 700;
}

.brown-button:hover,
.brown-button:focus {
    background-color: #604e43;
}

.brown-button:active {
    background-color: #503e33;
}

.blue-button {
    color: #ffffff;
    background-color: #81b3d2;
    text-transform: uppercase;
    font-weight: 700;
}

.blue-button:hover,
.blue-button:focus {
    background-color: #669ec0;
}

.blue-button:active {
    background-color: #5496bd;
}

/* Футтер */

.hashtag {
    font-size: 21px;
    font-weight: 700;
    line-height: 26px;
}

.icon {
    width: 46px;
    height: 48px;
    background-color: #81b3d2;
    list-style: none;
}

.icon:hover,
.icon:focus {
    background-color: #669ec0;
}

.icon:active {
    background-color: #5496bd;
}

.icon:first-of-type img {
    padding: 17px 14px 16px 15px;
}

.icon:nth-of-type(2) img {
    padding: 13px 17px 13px 17px;
}

.icon:last-of-type img {
    padding: 16px 13px 16px 13px;
}

/* hotels.html */

.hotels {

}

/* Список гостиниц */

.hotels-list__items {
    list-style: none;
}

.hotels-list__name {
    font-size: 21px;
    font-weight: 700;
    line-height: 26px;
}

.hotel-rating {
    width: 110px;
    height: 27px;
    background-color: #f2f2f2;
}

.hotel-rating__4 {
    width: 70px;
    height: 18px;
    background: url("../img/stars.svg") 18px 17px;
}

.hotel-rating__3 {
    width: 55px;
    height: 18px;
    background: url("../img/stars.svg") 18px 17px;
}

.hotel-rating__2 {
    width: 35px;
    height: 18px;
    background: url("../img/stars.svg") 18px 17px;
}