html {
    background-color: #f2f2f2;
}

body {
    width: 1200px;
    margin: 0 auto;
    padding: 0;

    font-family: 'PT Sans', Arial, sans-serif;
    font-size: 14px;
    line-height: 26px;
    font-weight: 400;
    color: #000000;
    text-transform: uppercase;

    background-color: #ffffff;
    box-shadow: 0 5px 15px rgba(0, 1, 1, 0.2);
}

a {
    text-decoration: none;
}

/* Скрытые заголовки */

.visually-hidden {
    position: absolute;
    clip: rect(0 0 0 0);
    width: 1px;
    height: 1px;
    margin: -1px;
}


/* Навигация */

.main-navigation {
    font-weight: 700;
    line-height: 26px;
    background-color: #fff;
}

.site-navigation {
    list-style: none;
}

.site-navigation a {
    outline: none;
    color: #000000;
}

.site-navigation li:nth-child(4n+1),
.site-navigation li:nth-child(4n+2) {
    width: 239px;
    text-align: left;
}

.site-navigation li:nth-child(4n+3),
.site-navigation li:nth-child(4n+4) {
    width: 239px;
    text-align: right;
}


.site-navigation a:hover,
.site-navigation a:focus {
    color: #81b3d2;
}

.site-navigation a:active {
    opacity: 0.3;
    color: #000000;
}

a.disabled {
    pointer-events: none;
    color: #766357;
}

/* Картинка-приветствие */


.first-screen {
    box-sizing: content-box;
    position: relative;
    background-image: url("../img/background_photo.jpg");
    background-repeat: no-repeat;
    background-position-y: -82px;
    width: 100%;
    height: 509px;
    margin: 0 auto;
    overflow: hidden;
    
}

.first-screen img {
    position: absolute;
    top: 76px;
    left: 370px;
}

.first-screen::after {
    content: "";
    position: absolute;
    background-image: url("../img/polygon.png");
    background-repeat: no-repeat;
    width: 100%;
    height: 59px;
    bottom: -1px;
    display: block;
}


/* Списки с преимуществами и рекомендациями */

.title {
    font-size: 21px;
    font-weight: 700;
}

.main-title {
    display: block;
    padding-top: 60px;
    padding-bottom: 1px;
    letter-spacing: 0.1px;
}

.main-subtitle {
    margin: 0;
    padding-top: 27px;
    letter-spacing: 0.1px;
}

.advantages {
    background-color: #fff;
    display: block;
    position: relative;
    z-index: 100;
}

.advantages,
.reccomendations {
    text-align: center;
}

.advantages li,
.reccomendations li {
    list-style: none;
}

.advantages-item--number {
    padding-top: 6px;
}

.advantages-item__text {
    display: flex;
    flex-direction: column;
    width: 303px;
    vertical-align: middle;
    padding-right: 50px;
    padding-left: 48px;

    min-height: 255px;
}

.advantages-item__text p {
    margin: 0;
    margin-top: 19px;
    line-height: 22px;
}


.blue-background {
    background-color: #81b3d2;
    color: #ffffff;
} 

.grey-background {
    background-color: #eeeeee;
}

.advantages-item .title {
    padding-top: 47px;
    padding-bottom: 16px;
    margin: 0;
    line-height: 21px;
}

.grey .advantages-item h3 {
    padding-top: 49px;
}

.recommendations-title {
    position: relative;
    width: 100px;
    display: block;
    padding-top: 99px;
    margin: 0 auto;
    margin-top: 61px;
    padding-bottom: 20px;
}

.recommendations-title:before {
    content: "";
    background-repeat: no-repeat;
    top: 0;
    display: block;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}
  
  .recommendations-title--house::before {
    width: 75px;
    height: 72px;
    background-image: url("../img/icon-1.png");
  }

  .recommendations-title--food::before {
    width: 74px;
    height: 70px;
    background-image: url("../img/icon-2.png");
  }

  .recommendations-title--souvenirs::before {
    width: 64px;
    height: 76px;
    background-image: url("../img/icon-3.png");
  }

  .recommendations-title--souvenirs {
    margin-top: 57px;
    margin-bottom: 1px;
    padding-top: 102px;
    letter-spacing: 0.1px;
  }

  .recommendations-item__text {
    width: 290px;
    margin: 0;
    padding: 0;
    line-height: 22px;
  }

  .recommendations-title--souvenirs p {
    line-height: 21px;
    letter-spacing: 0.15px;
  }

  .advantages-item__text-3 {
    padding-left: 47px;
  }

  .advantages-item__text-5 {
    padding-left: 47px;
  }

/* Форма поиска гостиниц */

.modal {
    background-color: #ffffff;
    box-shadow: 0 7px 15px rgba(0, 1, 1, 0.15);
    position: relative;
    z-index: 2;
}

.modal a {
    font-size: 21px;
    font-weight: 700;
    line-height: 26px;
}

.modal-subtitle {
    font-size: 30px;
}

p.modal-subtitle__text {
    margin: 0;
    padding: 0;
    text-align: center;
    margin-top: 28px;
    line-height: 25px;
}

.modal-form {
    display: block;
    font-weight: 700;
    margin: 0;
    width: 458px;
    box-sizing: content-box;
}

.modal-form p:first-child {
    margin-top: 55px;
}

.modal-form p:nth-of-type(2) {
    margin-top: 30px;
    margin-bottom: 15px;
}

.modal-item {
    border: 2px solid transparent;
    background-color: #f2f2f2;
}

.modal-item:hover,
.modal-item:focus {
    border: 2px solid transparent;
    background-color: #ebebeb;
}

.modal-item:active {
    background-color: #ffffff;
    border: 2px solid #e5e5e5;
    box-sizing: content-box;
}



.arrival-date input[type="text"] {
    position: relative;
    width: 346px;
    height: 38px;
    font-size: inherit;
    font-weight: inherit;
    text-transform: inherit;
    padding-right: 38px;
    padding-left: 12px;
    box-sizing: border-box;
}

.modal-item:active input[type="text"] {
    padding-left: 12px;
}

.modal-buttons-number input[type="text"] {
    width: 38px;
    height: 40px;
    font-size: inherit;
    font-weight: inherit;
    text-transform: inherit;
    padding-left: 15px;
    box-sizing: border-box;
}

input::-webkit-input-placeholder { 
    color: #000000;
}

.reservation-date {
    padding: 0;
    margin: 0;
    border: 0;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: flex-end;
    align-items: center;
    padding-top: 53px;
    min-height: 105px;
    width: 458px;
}

.arrival-date {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: flex-end;
    width: 458px;
    position: relative;
    margin-bottom: 30px;
}

.arrival-date label {
    align-self: center;
    padding-top: 1px;
    padding-left: 2px;
    letter-spacing: 0.2px;
}

.modal-button {
    width: 38px;
    min-height: 38px;
    background-color: #f2f2f2;
}

.date-button {
    border: none;
    position: absolute;
    right: 0px;
    background-color: inherit ;
    width: 38px;
    height: 40px;

}

.date-button:hover path,
.date-button:focus path {
    fill: #000000;
}

.date-button:active path {
    fill: #81B3D2;
}

.modal-button--minus {
    min-height: 40px;
    border: none;
    position: relative;
    background-image: url("../img/minus.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 12px 3px;
}

.modal-button--minus:hover,
.modal-button--minus:focus {
    background-image: url("../img/black-minus.png");
}

.modal-button--minus:active {
    background-image: url("../img/blue-minus.png");
}

.modal-button--plus {
    min-height: 40px;
    border: none;
    position: relative;
    background-image: url("../img/plus.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 11px 11px;

}

.modal-button--plus:hover,
.modal-button--plus:focus {
    background-image: url("../img/black-plus.png");
}

.modal-button--plus:active {
    background-image: url("../img/blue-plus.png");
}

.modal .blue-button {
    width: 458px;
    margin-top: 53px;
    margin-bottom: 55px;
    font-size: 21px;

    min-height: 58px;
}

input[type="text"],
input[type="submit"],
button[type="button"] {
    outline: none;
}

/* Кнопки */

.text-button {
    color: #ffffff;
}

button[type="submit"] {
    border: 0;
}

.brown-button {
    background-color: #766357;
    text-transform: uppercase;
    font-weight: 700;
}

.brown-button:hover,
.brown-button:focus {
    background-color: #604e43;
}

.brown-button:active {
    background-color: #503e33;
}

.brown-button:active .text-button {
    opacity: 0.3;
}

.blue-button:active .text-button {
    opacity: 0.3;
}

.modal .brown-button {
    padding-top: 31px;
    padding-right: 139px;
    padding-bottom: 28px;
    padding-left: 139px;
}

.blue-button {
    color: #ffffff;
    background-color: #81b3d2;
    text-transform: uppercase;
    font-weight: 700;
}

.blue-button:hover,
.blue-button:focus {
    background-color: #669ec0;
}

.blue-button:active {
    background-color: #5496bd;
}

/* Футтер */

.hashtag {
    font-size: 21px;
    font-weight: 700;
    line-height: 26px;
}

.icon {
    position: relative;
    width: 46px;
    height: 48px;
    background-color: #81b3d2;
    list-style: none;
}

.icon a {
    outline: none;
}

.icon:before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.icon:hover,
.icon:focus {
    background-color: #669ec0;
}

.icon:active {
    background-color: #5496bd;
}

.icon:first-of-type svg {
    padding: 17px 14px 16px 15px;
}

.icon:nth-of-type(2) svg {
    padding: 13px 17px 13px 17px;
}

.icon:last-of-type svg {
    padding: 16px 13px 16px 13px;
}

.icon:active svg {
    opacity: 0.3;
}

.footer-copyright__link {
    outline: none;
}

.footer-copyright__link svg {
    display: inline-block;
    vertical-align: middle;
    pointer-events: none;
}

.footer-copyright__link:hover path,
.footer-copyright__link:focus path {
    fill: #81b3d2;
} 

.footer-copyright__link:active path {
    fill: #bdbbbc;
}

/* hotels.html */


.hotels-filter {
    width: 100%;
    min-height: 303px;
}

/* Список гостиниц */

.hotels-list__items {
    list-style: none;
    border-top: 1px solid #f2f2f2;
}

.hotels-list__items a {
    outline: none;
}

.hotels-list:last-child {
    border-bottom: 1px solid #f2f2f2;
}

.hotels-list__name {
    font-size: 21px;
    font-weight: 700;
    padding: 0;
    margin: 0;
    padding-bottom: 10px;
    line-height: 15px;
    letter-spacing: 0.3px;
}

.hotels-list__name:hover,
.hotels-list__name:focus {
    color: #81b3d2;
}

.hotels-list__name:active {
    color: #bdbbbc;
}

.hotels-list__items--info {
    width: 258px;
    margin-left: 30px;
    padding-top: 5px;
}

.hotel-rating {
    display: flex;
}

.hotel-rating__number {
    display: block;
    width: 110px;
    height: 27px;
    background-color: #f2f2f2;
    margin-top: 48px;
    text-align: center;
}

.hotel-rating--stars {
    display: flex;
}

.star {
    width: 19px;
    height: 17px;
    margin-left: 5px;
    background-image: url(../img/stars.svg);
    background-repeat: no-repeat;
}

.hotels-list__items--info .blue-button {
    width: 110px;
    min-height: 27px;
    text-align: center;
    margin-top: 11px;
}

.hotels-list__items--info .brown-button {
    width: 142px;
    min-height: 27px;
    text-align: center;
}

/* Сеточные стили */

.main-header {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;

    /* Временно для сетки */
    min-height: 56px;
}

.main-header-logo {
    width: 140px;
    height: 72px;
    margin: 0;
    padding: 0;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
}

.site-navigation {
    padding: 0 72px;
    width: 1200px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    box-sizing: border-box;
}


.site-navigation li:nth-child(2) {
    margin-right: auto;
    letter-spacing: 0.2px;
}

.site-navigation li:nth-of-type(3) {
    margin-left: auto;
    letter-spacing: 0.6px;
}


.logo-background {
    display: flex;
    justify-content: flex-start;
    margin-bottom: 60px;
    padding-left: 0 auto;
    width: 1200px;
}

.advantages-list {
    margin: 0;
    padding: 0;
    padding-top: 51px;
}

.advantages-item__wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.recommendations {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    padding-bottom: 83px;
}

.recommendations-item {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    width: 400px;    
}

.grey {
    display: flex;
    justify-content: center;
    align-content: center;
    padding: 0;
    margin: 0;
}

.modal {
    width: 568px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    margin-left: 315px;
    margin-top: -81px;
}

.modal-title {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    padding-top: 58px;
    min-height: 230px;
}

.modal-buttons-number {
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding: 0;
}

.modal-buttons-number label {
    margin-right: auto;
    align-self: center;
}

.button-adults {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
    width: 226px;
}

.button-children {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    width: 179px;
}

.map {
    position: relative;
    margin-top: -395px;
    z-index: 1;
}

.footer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    background-color: inherit;
}

.footer-main-page {
    margin-top: -125px;
    opacity: 0.9;
    position: relative;
    z-index: 1;
}

.hashtag {
    width: 136px;
    margin-left: 133px;
}

.footer-social {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 149px;
    margin: 0;
    padding: 0;
    margin-top: 36px;
    margin-bottom: 35px;
    margin-left: 29px;
}

.footer-copyright {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    width: 197px;
    margin-right: 101px;
}

/* Стили для страницы с отелями */

.hotels-list {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;

    min-height: 393px;
}

.hotels-list__items {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    padding-left: 72px;
    padding-right: 72px;

    min-height: 150px;
}

.container {
    display: flex;
}

.hotel-list--container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 258px;
    min-height: 57px;

}

.hotel-rating {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-end;
    margin-left: auto;

    min-height: 93px;
}



