html {
    width: 1200px;
    margin: 0 auto;
}

body {
    margin: 0 auto;
    padding: 0;

    font-family: 'PT Sans', Arial, sans-serif;
    font-size: 14px;
    line-height: 26px;
    font-weight: 400;
    color: #000000;
    text-transform: uppercase;

    width: 1200px;
    box-shadow: 0 5px 15px rgba(0, 1, 1, 0.2);
}

a {
    text-decoration: none;
}

/* Скрытые заголовки */

.visually-hidden {
    position: absolute;
    clip: rect(0 0 0 0);
    width: 1px;
    height: 1px;
    margin: -1px;
}


/* Навигация */

.main-navigation {
    font-weight: 700;
    line-height: 26px;
}

.site-navigation {
    list-style: none;
}

.site-navigation a {
    color: #000000
}

.site-navigation li {
    width: 239px;
}

.site-navigation a:hover,
.site-navigation a:focus {
    color: #81b3d2;
}

.site-navigation a:active {
    opacity: 0.3;
    color: #000000;
}

/* Картинка-приветствие */


.logo-background {
    box-sizing: content-box;
    position: relative;
    width: 1200px;
    height: 510px;
    background-image: url("../img/background_photo.jpg");
    background-repeat: no-repeat;
    margin: 0 auto;
    overflow: hidden;
    margin-top: -20px;
}

.logo-background img {
    margin: 0 auto;
    margin-top: 75px;
}

.logo-background::after {
    content: "";
    position: absolute;
    width: 1201px;
    height: 59px;
    background-image: url("../img/polygon.png");
    background-repeat: no-repeat;
    margin-top: 96px;
    bottom: -1px;
    display: block;
}


/* Списки с преимуществами и рекомендациями */

.title {
    font-size: 21px;
    font-weight: 700;
}

.advantages,
.reccomendations {
    text-align: center;
}

.advantages li,
.reccomendations li {
    list-style: none;
}

.advantages-item__text {
    width: 280px;
    vertical-align: middle;
    padding-right: 60px;
    padding-left: 60px;

    min-height: 255px;
}

.blue-background {
    background-color: #81b3d2;
    color: #ffffff;
} 

.grey-background {
    background-color: #eeeeee;
}

.advantages-item .title {
    padding-top: 40px;
    margin: 0;
}
.recommendations-title {
    position: relative;
    width: 100px;
    display: block;
    padding-top: 105px;
    margin: 0 auto;    
    margin-top: 60px;
    padding-bottom: 30px;
}

.recommendations-title:before {
    content: "";
    background-repeat: no-repeat;
    top: 0;
    display: block;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}
  
  .recommendations-title--house::before {
    width: 75px;
    height: 72px;
    background-image: url("../img/icon-1.png");
  }

  .recommendations-title--food::before {
    width: 74px;
    height: 70px;
    background-image: url("../img/icon-2.png");
  }

  .recommendations-title--souvenirs::before {
    width: 64px;
    height: 76px;
    background-image: url("../img/icon-3.png");
  }

  .recommendations-item__text {
      width: 284px;
      margin: 0;
      padding: 0;
  }

/* Форма поиска гостиниц */

.modal {
    background-color: #ffffff;
    box-shadow: 0 7px 15px rgba(0, 1, 1, 0.15);
}

.modal a {
    font-size: 21px;
    font-weight: 700;
    line-height: 26px;
}

.modal-subtitle {
    font-size: 30px;
}

.modal-form {
    font-weight: 700;
}

.modal-item {
    background-color: #f2f2f2;
    margin-bottom: 30px;
}

.modal input[type="date"] {
    width: 346px;
    height: 38px;
}

.modal input[type="number"] {
    width: 38px;
    height: 38px;
}

.modal-button {
    width: 38px;
    height: 38px;
    background-color: #f2f2f2;
}

.modal-button--minus {
    background-image: url("../img/minus.svg");
    background-repeat: no-repeat;
    background-position: center;
}

.modal-button--plus {
    background-image: url("../img/plus.svg");
    background-repeat: no-repeat;
    background-position: center;
}

.modal .blue-button {
    width: 458px;
    margin-bottom: 60px;

    min-height: 58px;
}


/* Кнопки */

.brown-button {
    color: #ffffff;
    background-color: #766357;
    text-transform: uppercase;
    font-weight: 700;
}

.brown-button:hover,
.brown-button:focus {
    background-color: #604e43;
}

.brown-button:active {
    background-color: #503e33;
}

.modal .brown-button {
    padding-top: 35px;
    padding-right: 139px;
    padding-bottom: 33px;
    padding-left: 139px;
}

.blue-button {
    color: #ffffff;
    background-color: #81b3d2;
    text-transform: uppercase;
    font-weight: 700;
}

.blue-button:hover,
.blue-button:focus {
    background-color: #669ec0;
}

.blue-button:active {
    background-color: #5496bd;
}

/* Футтер */

.hashtag {
    font-size: 21px;
    font-weight: 700;
    line-height: 26px;
}

.icon {
    width: 46px;
    height: 48px;
    background-color: #81b3d2;
    list-style: none;
}

.icon:hover,
.icon:focus {
    background-color: #669ec0;
}

.icon:active {
    background-color: #5496bd;
}

.icon:first-of-type img {
    padding: 17px 14px 16px 15px;
}

.icon:nth-of-type(2) img {
    padding: 13px 17px 13px 17px;
}

.icon:last-of-type img {
    padding: 16px 13px 16px 13px;
}

/* hotels.html */

.hotels {

}

.hotels-filter {
    width: 100%;
    min-height: 216px;
}

/* Список гостиниц */

.hotels-list__items {
    list-style: none;
    border-top: 1px solid #f2f2f2;
}

.hotels-list__name {
    font-size: 21px;
    font-weight: 700;
    line-height: 26px;
    padding: 0;
    margin: 0;
    padding-bottom: 17px;
}

.hotels-list__items--info {
    width: 260px;
    margin-left: 30px;
}

.hotel-rating__number {
    width: 110px;
    height: 27px;
    background-color: #f2f2f2;
}

.hotel-rating__4 {
    width: 70px;
    height: 17px;
    background: url("../img/stars.svg") 18px 17px;
}

.hotel-rating__3 {
    width: 55px;
    height: 18px;
    background: url("../img/stars.svg") 18px 17px;
}

.hotel-rating__2 {
    width: 35px;
    height: 18px;
    background: url("../img/stars.svg") 18px 17px;
}

.hotels-list__items--info span {
    padding-right: 40px;
}

.hotels-list__items--info .blue-button {
    width: 110px;
    min-height: 27px;
}



/* Сеточные стили */

.main-header {
    display: flex;
    flex-direction: row;
    margin: 0;
    padding: 0;

    /* Временно для сетки */
    min-height: 56px;
}

.main-header-logo {
    width: 140px;
    height: 72px;
    margin: 0;
    padding: 0;
    position: absolute;
    margin-left: 530px;
    z-index: 1;
}

.site-navigation {
    width: 1200px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    margin: 0;

    
    /* Временно для сетки */
    min-height: 56px;
}

.site-navigation li:nth-child(2) {
    margin-right:auto;
    
}

.site-navigation li:nth-of-type(3) {
    margin-left:auto;
}

.site-navigation li:first-child {
    margin-left: 71px;
}

.logo-background {
    display: flex;
    justify-content: center;
    margin-bottom: 60px;
}

.advantages-list {
    margin: 0;
    padding: 0;
    padding-top: 55px;
}

.advantages-item__wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.recommendations {
    display: flex;
    flex-direction: row;
    padding-bottom: 60px;
}

.recommendations-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 400px;    
}

.grey {
    display: flex;
    justify-content: center;
    align-content: center;
    padding: 0;
    margin: 0;
}

.modal {
    width: 568px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 315px;
    margin-top: -86px;
}

.modal-title {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 60px;
    min-height: 230px;
}

.button-adults {
    align-self: flex-start;
}

.button-children {
    align-self: flex-end;
}

.modal-buttons-number {
    display: flex;
    justify-content: space-between;
}

.map {
    position: relative;
    margin-top: -386px;
    z-index: -1;
}

.footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.hashtag {
    width: 136px;
    margin-left: 133px;

}

.footer-social {
    display: flex;
    justify-content: space-between;
    width: 155px;
}

.footer-copyright {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 200px;
    margin-right: 100px;
}

/* Стили для страницы с отелями */

.hotels-list {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    width: 1056px;
    margin-left: 70px;
    margin-right: 74px;

    min-height: 393px;
}

.hotels-list__items {
    display: flex;
    flex-direction: row;
    align-items: center;

    min-height: 150px;
}

.hotel-rating {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
    margin-left: 523px;
    

    min-height: 93px;
}



