html {
  background-color: #f2f2f2;
}

body {
  width: 1200px;
  margin: 0 auto;
  padding: 0;

  font-family: 'PT Sans', Arial, sans-serif;
  font-size: 14px;
  line-height: 26px;
  font-weight: 400;
  color: #000000;
  text-transform: uppercase;

  background-color: #ffffff;
  box-shadow: 0 5px 15px rgba(0, 1, 1, 0.2);
}

a {
  text-decoration: none;
}

/* Скрытые заголовки */

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}


/* Навигация */

.main-navigation {
  font-weight: 700;
  line-height: 26px;
  background-color: #fff;
}

.site-navigation {
  list-style: none;
}

.site-navigation a {
  outline: none;
  color: #000000;
}

.site-navigation li:nth-child(4n+1),
.site-navigation li:nth-child(4n+2) {
  width: 239px;
  text-align: left;
}

.site-navigation li:nth-child(4n+3),
.site-navigation li:nth-child(4n+4) {
  width: 239px;
  text-align: right;
}


.site-navigation a:hover,
.site-navigation a:focus {
  color: #81b3d2;
}

.site-navigation a:active {
  opacity: 0.3;
  color: #000000;
}

a.disabled {
  pointer-events: none;
  color: #766357;
}

/* Картинка-приветствие */

.first-screen {
  box-sizing: content-box;
  position: relative;
  background-image: url("../img/background_photo.jpg");
  background-repeat: no-repeat;
  background-position-y: -82px;
  width: 100%;
  height: 509px;
  margin: 0 auto;
  overflow: hidden;
}

.first-screen img {
  position: absolute;
  top: 76px;
  left: 370px;
}

.first-screen::after {
  content: "";
  position: absolute;
  background-image: url("../img/intro-mask.svg");
  background-repeat: no-repeat;
  width: 100%;
  height: 59px;
  bottom: -2px;
  display: block;
}

/* Списки с преимуществами и рекомендациями */

.title {
  font-size: 21px;
  font-weight: 700;
}

.main-title {
  display: block;
  width: 470px;
  margin: 0 auto;
  padding-top: 60px;
  padding-bottom: 1px;
  letter-spacing: 0.1px;
}

.main-subtitle {
  margin: 0;
  padding-top: 25px;
  letter-spacing: 0.1px;
}

.advantages {
  background-color: #fff;
  display: block;
  position: relative;
  z-index: 100;
}

.advantages {
  text-align: center;
}

.advantages li {
  list-style: none;
}

.advantages-item-number {
  padding-top: 5.48px;
}

.advantages-item-text {
  display: flex;
  flex-direction: column;
  width: 303px;
  vertical-align: middle;
  padding-right: 50px;
  padding-left: 48px;

  min-height: 255px;
}

.advantages-item-text p {
  margin: 0;
  margin-top: 19px;
  line-height: 21px;
}

.blue-background {
  background-color: #81b3d2;
  color: #ffffff;
}

.grey-background {
  background-color: #eeeeee;
}

.advantages-item .title {
  width: 155px;
  padding-top: 47px;
  padding-bottom: 16px;
  margin: 0 auto;
  line-height: 21px;
}

.grey .advantages-item h3 {
  width: 124px;
  margin: 0 auto;
  padding-top: 48px;
}

.grey .advantages-item p {
  width: 261px;
  margin: 0 auto;
  margin-top: 19px;
  line-height: 21px;
}

.grey .advantages-item .text-5 {
  display: block;
  width: 256px;
}

.recommendations-title {
  position: relative;
  width: 100px;
  display: block;
  padding-top: 99px;
  margin: 0 auto;
  margin-top: 61px;
  padding-bottom: 20px;
}

.recommendations-title:before {
  content: "";
  background-repeat: no-repeat;
  top: 0;
  display: block;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.recommendations-title-house::before {
  width: 75px;
  height: 72px;
  background-image: url("../img/icon-1.png");
}

.recommendations-title-food::before {
  width: 74px;
  height: 70px;
  background-image: url("../img/icon-2.png");
}

.recommendations-title-souvenirs::before {
  width: 64px;
  height: 76px;
  background-image: url("../img/icon-3.png");
}

.recommendations-title-souvenirs {
  margin-top: 57px;
  margin-bottom: 1px;
  padding-top: 102px;
  letter-spacing: 0.1px;
}

.recommendations-item-text {
  width: 290px;
  margin: 0;
  padding: 0;
  line-height: 22px;
}

.recommendations-title-souvenirs p {
  line-height: 21px;
  letter-spacing: 0.15px;
}

.advantages-item-text-3 {
  padding-left: 47px;
}

.advantages-item-text-5 {
  padding-left: 47px;
}

/* Форма поиска гостиниц */

.modal {
  background-color: #ffffff;
  box-shadow: 0 7px 15px rgba(0, 1, 1, 0.15);
  position: relative;
  z-index: 2;
}

.modal a {
  font-size: 21px;
  font-weight: 700;
  line-height: 26px;
}

.modal-subtitle {
  font-size: 30px;
}

p.modal-subtitle-text {
  margin: 0;
  padding: 0;
  text-align: center;
  margin-top: 28px;
  line-height: 25px;
}

.modal-buttons-number {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
}

.modal-buttons-number label {
  align-self: center;
}

.button-adults {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  width: 226px;
}

.button-children {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  width: 179px;
}

.button-number-container {
  width: 114px;
  display: flex;
}

/* Анимация */

@keyframes bounce {
  from {
    transform: translateY(-130px);
    -webkit-transform: translateY(-130px);
    -moz-transform: translateY(-130px);
    -ms-transform: translateY(-130px);
    -o-transform: translateY(-130px);
  }

  to {
    transform: translateY(0px);
    -webkit-transform: translateY(0px);
    -moz-transform: translateY(0px);
    -ms-transform: translateY(0px);
    -o-transform: translateY(0px);
  }
}

@-webkit-keyframes bounce {
  from {
    transform: translateY(-130px);
    -webkit-transform: translateY(-130px);
    -moz-transform: translateY(-130px);
    -ms-transform: translateY(-130px);
    -o-transform: translateY(-130px);
  }

  to {
    transform: translateY(0px);
    -webkit-transform: translateY(0px);
    -moz-transform: translateY(0px);
    -ms-transform: translateY(0px);
    -o-transform: translateY(0px);
  }
}

.modal-form {
  display: none;
  position: absolute;
  font-weight: 700;
  margin: 0 auto;
  text-align: center;

  top: 86px;
  padding: 55px;
  box-sizing: content-box;
  background-color: #ffffff;
}

.modal-form-show {
  display: block;
  z-index: -1;

  animation-name: bounce;
  animation-duration: 0.5s;
  -webkit-animation-name: bounce;
  -webkit-animation-duration: 0.5s;
}

.modal-form p:first-child {
  margin-top: 55px;
}

.modal-form p:nth-of-type(2) {
  margin-top: 30px;
  margin-bottom: 15px;
}

.modal-item {
  border: 2px solid transparent;
  background-color: #f2f2f2;
}

.modal-item:hover {
  border: 2px solid transparent;
  background-color: #ebebeb;
}

.modal-item:active,
.modal-item:focus {
  background-color: #ffffff;
  border: 2px solid #e5e5e5;
  box-sizing: content-box;
}

.arrival-date input[type="text"] {
  position: relative;
  width: 346px;
  height: 38px;
  font-size: inherit;
  font-weight: inherit;
  text-transform: inherit;
  padding-right: 38px;
  padding-left: 12px;
  box-sizing: border-box;
}

.modal-item:active input[type="text"] {
  padding-left: 12px;
}

.modal-buttons-number input[type="text"] {
  width: 38px;
  height: 40px;
  font-size: inherit;
  font-weight: inherit;
  text-transform: inherit;
  text-align: center;
  box-sizing: border-box;
}

.modal-item::placeholder {
  color: #000000;
  opacity: 1;
}

.modal-item:focus::placeholder {
  opacity: 0;
}

.modal-item::-webkit-input-placeholder {
  color: #000000;
  opacity: 1;
}

.modal-item:focus::-webkit-input-placeholder {
  opacity: 0;
}

.modal-item::-ms-input-placeholder {
  color: #000000;
  opacity: 1;
}

.modal-item:-ms-input-placeholder {
  color: #000000;
  opacity: 1;
}

.modal-item:focus::-ms-input-placeholder {
  opacity: 0;
}

.modal-item:focus:-ms-input-placeholder {
  opacity: 0;
}

.modal-item::-moz-input-placeholder {
  color: #000000;
  opacity: 1;
}

.modal-item:focus::-moz-input-placeholder {
  opacity: 0;
}

.modal-item::-o-input-placeholder {
  color: #000000;
  opacity: 1;
}

.modal-item:focus::-o-input-placeholder {
  opacity: 0;
}

.reservation-date {
  padding: 0;
  margin: 0;
  border: 0;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-content: flex-end;
  align-items: center;
  min-height: 105px;
  width: 458px;
}

.arrival-date {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: flex-end;
  width: 458px;
  position: relative;
  margin-bottom: 29px;
}

.arrival-date label {
  align-self: center;
  padding-top: 1px;
  letter-spacing: 0.2px;
  margin-right: auto;
}

.modal-button {
  width: 38px;
  min-height: 38px;
  background-color: #f2f2f2;
}

.date-button {
  border: none;
  position: absolute;
  right: 0px;
  background-color: inherit;
  width: 38px;
  height: 38px;

}

.date-button:hover path,
.date-button:focus path {
  fill: #000000;
}

.date-button:active path {
  fill: #81B3D2;
}

.modal-button-minus {
  min-height: 40px;
  border: none;
  position: relative;
  background-image: url("../img/minus.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 12px 3px;
}

.modal-button-minus:hover,
.modal-button-minus:focus {
  background-image: url("../img/black-minus.png");
}

.modal-button-minus:active {
  background-image: url("../img/blue-minus.png");
}

.modal-button-plus {
  min-height: 40px;
  border: none;
  position: relative;
  background-image: url("../img/plus.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 11px 11px;

}

.modal-button-plus:hover,
.modal-button-plus:focus {
  background-image: url("../img/black-plus.png");
}

.modal-button-plus:active {
  background-image: url("../img/blue-plus.png");
}

.modal .blue-button {
  width: 458px;
  margin-top: 53px;
  font-size: 21px;

  min-height: 58px;
}

input[type="text"],
input[type="submit"],
button[type="button"] {
  outline: none;
}

/* Кнопки */

.text-button {
  color: #ffffff;
}

.modal-form button[type="submit"] {
  border: 0;
}

.brown-button {
  background-color: #766357;
  text-transform: uppercase;
  font-weight: 700;
  display: block;
}

.brown-button:hover,
.brown-button:focus {
  background-color: #604e43;
}

.brown-button:active {
  background-color: #503e33;
}

.modal .brown-button:active {
  color: #847870;
}

.brown-button:active {
  color: #847870;
}

.blue-button:active {
  color: #87b5d1;
}

.blue-button:active .text-button {
  color: #87b5d1;
}

.modal .brown-button {
  padding-top: 31px;
  padding-bottom: 30px;
}

.blue-button {
  color: #ffffff;
  background-color: #81b3d2;
  text-transform: uppercase;
  font-weight: 700;
  display: block;
  outline: none;
}

.blue-button:hover,
.blue-button:focus {
  background-color: #669ec0;
}

.blue-button:active {
  background-color: #5496bd;
}

/* Футтер */

.hashtag {
  font-size: 21px;
  font-weight: 700;
  line-height: 26px;
}

.icon {
  display: block;
  position: relative;
  width: 46px;
  height: 48px;
  background-color: #81b3d2;
  list-style: none;
}

.icon a {
  outline: none;
}

.icon:before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.icon:hover,
.icon:focus {
  background-color: #669ec0;
  outline: none;
}

.icon:active {
  background-color: #5496bd;
}

.twitter svg {
  padding: 17px 14px 16px 15px;
}

.facebook svg {
  padding: 13px 17px 13px 17px;
}

.youtube svg {
  padding: 16px 13px 16px 13px;
}

.icon:active svg {
  opacity: 0.3;
}

.footer-copyright-link {
  outline: none;
}

.footer-copyright-link svg {
  display: inline-block;
  vertical-align: middle;
  pointer-events: none;
}

.footer-copyright-link:hover path,
.footer-copyright-link:focus path {
  fill: #81b3d2;
}

.footer-copyright-link:active path {
  fill: #bdbbbc;
}

/* hotels.html */


.hotels-filter {
  width: 100%;
  min-height: 303px;
}

.filter-form {
  background-image: url("../img/filter_background.jpg");
  background-size: 1200px 800px;
  background-repeat: no-repeat;
  background-position-y: -295px;
  color: #ffffff;

  display: flex;
  flex-direction: row;
  justify-content: flex-start;

  min-height: 217px;
}

.filter-form-item {
  display: flex;
  flex-direction: column;
}

.filter-form ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.checkbox {
  margin-bottom: 21px;
}

.filter-input-checkbox {
  display: none;
}

.checkbox label {
  display: block;
  position: relative;
  cursor: pointer;
  user-select: none;

  padding-left: 40px;
  line-height: 25px;
}

.housing label {
  letter-spacing: 0.3px;
}

.infrastructure.filter-range-title {
  letter-spacing: 0.2px;
}

.filter-input-checkbox+label::before {
  content: "";
  display: block;
  width: 23px;
  height: 23px;
  background-image: url("../img/checkbox-off.svg");
  position: absolute;
  top: 0;
  left: 0;
}

.filter-input-checkbox:checked+label::before {
  content: "";
  display: block;
  width: 26px;
  height: 23px;
  background-image: url("../img/checkbox-on.svg");
  position: absolute;
  top: 0;
  left: 0;
}

.filter-input-checkbox:disabled+label::before {
  background-image: url("../img/checkbox-off-disabled.svg");
}

.filter-input-checkbox:disabled:checked+label::before {
  background-image: url("../img/checkbox-on-disabled.svg");
}

.infrastructure {
  margin-left: 72px;
}

.housing {
  margin-left: 118px;
}

.filter-range {
  width: 317px;
  margin-right: 72px;
  margin-left: auto;
  text-transform: uppercase;
}

.filter-range-title {
  margin-top: 27px;
  margin-bottom: 24px;
  font-weight: 600;
  font-size: 16px;
  line-height: 21px;
}

.housing .filter-range-title {
  margin-bottom: 25px;
}

.filter-range .filter-range-title {
  margin-bottom: 11px;
}

.price-controls {
  position: relative;

  height: 32px;
  margin-bottom: 20px;

  font-size: 0;

  border: 2px solid #ffffff;
  border-radius: 2px;
}

.price-controls::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;

  width: 2px;
  height: 22px;

  background: #ffffff;
  transform: translate(-50%, -50%);
}

.price-controls label {
  display: inline-block;

  font-size: 14px;
  line-height: 38px;
  vertical-align: top;

  cursor: pointer;
}

.price-controls .min-price,
.price-controls .max-price {
  width: 90px;
  padding-left: 65px;
  margin-top: -4px;
}

.price-controls .min-price {
  margin-left: -2px;
}

.price-controls .max-price {
  margin-left: -7px;
}

.price-controls input {
  width: 50px;
  margin: 0;
  margin-top: -4px;

  color: inherit;
  font: inherit;

  background: none;
  border: none;
}

.range-controls {
  position: relative;

  margin-bottom: 33px;
}

.range-controls .scale {
  height: 2px;

  background: rgba(255, 255, 255, 0.3);
}

.range-controls .bar {
  width: 80%;
  height: 2px;

  background: #ffffff;
}

.range-toggle {
  position: absolute;
  top: -9px;

  width: 4px;
  height: 4px;

  background: #ababab;
  border: 8px solid #ffffff;
  border-radius: 50%;
  box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
  cursor: pointer;
}

.range-toggle:hover,
.range-toggle:focus {
  transform: scale(1.2);
}

.range-toggle:active {
  transform: scale(1.2);
}

.range-toggle-min {
  left: 0;
}

.range-toggle-max {
  left: 80%;
}

.btn-transparent {
  display: block;
  margin-top: -2px;
  margin-left: 82px;
  padding: 6px 35px;

  font-size: 14px;
  line-height: 20px;
  color: #ffffff;
  text-transform: uppercase;

  background: transparent;
  border: 2px solid #ffffff;
  border-radius: 2px;
  cursor: pointer;
}

.btn-transparent:hover,
.btn-transparent:focus {
  color: #000000;
  background: #ffffff;
}

.hotels-sorting {
  display: flex;
  flex-direction: row;
  margin-top: 32px;
  margin-left: 72px;
}

.hotels-sorting-found {
  font-size: 21px;
  font-weight: 700;
  margin: 0;
  padding: 0;
  margin-right: 47px;
}

.sorting-type {
  width: 363px;
  display: flex;
  margin-top: 2px;

  font-size: 12px;
  font-weight: 400;
}

.sorting-type-title {
  margin: 0;
  padding: 0;
  margin-right: 40px;
}

.sorting-type-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.sorting-type-list li {
  display: inline-block;
  color: #cacaca;
  border-bottom: 1px dotted #cacaca;
  line-height: 14px;
  outline: none;
}

.sorting-type-list li:hover,
.sorting-type-list li:focus {
  color: #81b3d2;
  border-bottom: 1px dotted #81b3d2;
}

.sorting-type-list li:active {
  color: #000000;
  border: none;
}

.sorting-type-list li:first-child,
.sorting-type-list li:nth-child(2) {
  margin-right: 30px;
}

.sorting-type-item.active {
  color: #81b3d2;
  border: none;
}

.arrows {
  margin-left: auto;
  margin-right: 73px;
}

.arrows-up {
  margin-right: 8px;
}

.arrows-up,
.arrows-down {
  display: inline-block;
}

.arrows-up:hover path,
.arrows-down:hover path,
.arrows-up:focus path,
.arrows-down:focus path {
  fill: #000000;
}

.arrows-up:active path,
.arrows-down:active path {
  fill: #81b3d2;
}

.arrows-down.active path {
  fill: #81b3d2;
}

/* Список гостиниц */

.hotels-list-items {
  list-style: none;
  border-top: 1px solid #f2f2f2;
}

.hotels-list-items a {
  outline: none;
}

.hotels-list:last-child {
  border-bottom: 1px solid #f2f2f2;
}

.hotels-list-name {
  font-size: 21px;
  font-weight: 700;
  padding: 0;
  margin: 0;
  padding-bottom: 10px;
  line-height: 15px;
  letter-spacing: 0.3px;
}

.hotels-list-name:hover,
.hotels-list-name:focus {
  color: #81b3d2;
}

.hotels-list-name:active {
  color: #bdbbbc;
}

.hotels-list-items-info {
  width: 258px;
  margin-left: 30px;
  padding-top: 3px;
}

.hotel-rating {
  display: flex;
}

.hotel-rating-number {
  display: block;
  width: 110px;
  height: 27px;
  background-color: #f2f2f2;
  margin-top: 48px;
  text-align: center;
}

.hotel-rating-stars {
  display: flex;
}

.star {
  width: 19px;
  height: 17px;
  margin-left: 5px;
  background-image: url(../img/stars.svg);
  background-repeat: no-repeat;
}

.hotels-list-items-info .blue-button {
  width: 110px;
  min-height: 27px;
  text-align: center;
  margin-top: 11px;
}

.hotels-list-items-info .brown-button {
  width: 142px;
  min-height: 27px;
  text-align: center;
}


/* Сеточные стили */

.main-header {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;

  min-height: 56px;
}

.main-header-logo {
  width: 140px;
  height: 72px;
  margin: 0;
  padding: 0;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
}

.site-navigation {
  padding: 0 72px;
  width: 1200px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  box-sizing: border-box;
}


.site-navigation li:nth-child(2) {
  margin-right: auto;
  letter-spacing: 0.2px;
}

.site-navigation li:nth-of-type(3) {
  margin-left: auto;
  letter-spacing: 0.6px;
}


.logo-background {
  display: flex;
  justify-content: flex-start;
  margin-bottom: 60px;
  padding-left: 0 auto;
  width: 1200px;
}

.advantages-list {
  margin: 0;
  padding: 0;
  padding-top: 51px;
}

.advantages-item-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.recommendations {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  padding-bottom: 81px;
}

.recommendations-item {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  width: 400px;
}

.grey {
  display: flex;
  justify-content: center;
  align-content: center;
  padding: 0;
  margin: 0;
}

.modal {
  position: relative;
  width: 568px;
  display: block;
  margin: 0 auto;
  text-align: center;
}

.modal-title {
  position: relative;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  padding-top: 57px;
  min-height: 150px;
  z-index: 1;
}



.map {
  position: absolute;
  z-index: 1;
}

.map img {
  position: absolute;
  left: 0px;
  z-index: -1;
}

.footer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  background-color: inherit;
}

.footer-main-page {
  margin-top: 472px;
  opacity: 0.9;
  position: relative;
  z-index: 1;
}

.hashtag {
  width: 136px;
  margin-left: 133px;
}

.footer-social {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 149px;
  margin: 0;
  padding: 0;
  margin-top: 37px;
  margin-bottom: 35px;
  margin-left: 29px;

  list-style: none;
}

.footer-copyright {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  width: 197px;
  margin-right: 101px;
}

/* Стили для страницы с отелями */

.hotels-list {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;

  min-height: 393px;
}

.hotels-list-items {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  padding-left: 72px;
  padding-right: 72px;

  min-height: 150px;
}

.container {
  display: flex;
}

.hotel-list-container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 258px;
  min-height: 57px;

}

.hotel-rating {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-end;
  margin-left: auto;

  min-height: 93px;
}
